h1 {font-family: Times; font-style: oblique; background-color: #6761dd; color: #e575a2}
body {background-color: #61ddac; color: #7a0d3c; font-family: "Courier New", Courier, monospace}
h3 {color: #a561dd}
